<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- views/home.html -->
<div class="row">
    <div class="col-md-4 mb-4" ng-repeat="article in news.articles">
        <div class="card">
            <img class="card-img-top" ng-src="{{article.urlToImage}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{article.title}}</h5>
                <p class="card-text">{{article.description}}</p>
                <a href="{{article.url}}" class="btn btn-primary" target="_blank">Read more</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>