<!DOCTYPE html>
<html lang="en" ng-app="newsApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top News</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services/newsService.js"></script>
    <script src="/scripts/controllers.js"></script>
</head>
<body>
    <div>
        <h1>Top News</h1>
        <div class="news-container">
            <div class="news-block" ng-repeat="article in articles">
                <img ng-src="{{article.urlToImage}}" alt="{{article.title}}">
                <h2>{{article.title}}</h2>
                <p>{{article.description}}</p>
                <a ng-href="{{ article.url }}" target="_blank" class="read-more-btn">Read more</a>
            </div>
        </div>
    </div>
</body>
</html>
